core/src/main/resources/workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://kuan.studio/taskflow/1.0"
    xmlns="http://kuan.studio/taskflow/1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="workflow" type="WorkflowType"/>

    <xs:complexType name="WorkflowType">
        <xs:sequence>
            <xs:element name="task" type="TaskType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="TaskTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="setVar"/>
            <xs:enumeration value="log"/>
            <xs:enumeration value="branch"/>
            <xs:enumeration value="choice"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TaskType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="type" type="TaskTypeEnum" use="required"/>

        <!-- setVar -->
        <xs:attribute name="key" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>

        <!-- log -->
        <xs:attribute name="message" type="xs:string" use="optional"/>

        <!-- branch -->
        <xs:attribute name="ifEqualsKey" type="xs:string" use="optional"/>
        <xs:attribute name="ifEqualsValue" type="xs:string" use="optional"/>
        <xs:attribute name="thenGo" type="xs:string" use="optional"/>
        <xs:attribute name="elseGo" type="xs:string" use="optional"/>

        <!-- choice -->
        <xs:attribute name="prompt" type="xs:string" use="optional"/>
        <xs:attribute name="optionA" type="xs:string" use="optional"/>
        <xs:attribute name="valueA" type="xs:string" use="optional"/>
        <xs:attribute name="optionB" type="xs:string" use="optional"/>
        <xs:attribute name="valueB" type="xs:string" use="optional"/>

    </xs:complexType>

</xs:schema>
